<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
  <!--<add name="DB_GamingFormEntities" connectionString="metadata=res://*/GMModel.csdl|res://*/GMModel.ssdl|res://*/GMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DB_GamingForm_test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <!--<add name="DB_GamingFormEntities" connectionString="metadata=res://*/GMModel.csdl|res://*/GMModel.ssdl|res://*/GMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cdfc0ea1e7f4.sn.mynetname.net\Akuna-PC,1433;initial catalog=DB_GamingForm_test;persist security info=True;user id=DBmem;password=12345678;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />--><add name="DB_GamingFormEntities" connectionString="metadata=res://*/GMModel.csdl|res://*/GMModel.ssdl|res://*/GMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.22.164\DESKTOP-RAE7E6C,1433;initial catalog=DB_GamingForm_test;persist security info=True;user id=DBmem;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>

